# Dependencies
node_modules/

# Nuxt build
.nuxt/
.output/
dist/

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documents privés
SIGNATURE_CONTRAT DE COLLABORATION TECHNOLOGIQUE.pdf
